/*-----Barra de color el apartado de la página principal-----*/
#Navbar{
    background-color: rgb(1, 132, 169);
    height: 50px;
    border-bottom: 1px solid black;
}
/*-----Cambiar del color tras pasar el cursor sobre cada sección-----*/
.itemNav:hover{
    background-color: rgb(255, 127, 80); 
}
/*-----Título Dinámico-----*/
.Titulo_Principal{
    text-align: center;
    font-size: 40px;
    animation-duration: 4s;
    animation-name: Titulo_Dinamico;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
/*-----Cambio de Color-----*/
@keyframes Titulo_Dinamico{
    0%{
       margin-left: 35%;
       color:rgb(58, 179, 235);
    }
    25%{
       margin-right: 15%;
       margin-left: 25%;
       color:rgb(56, 176, 232);
    }
    50%{
       margin-left:20%;
       margin-right:20%;
       color:rgb(46, 147, 194);
    }
    75%{
       margin-right: 25%;
       margin-left: 15%;
       color:rgb(40, 127, 167);
    }
    100%{
       margin-right: 35%;
       color:rgb(34, 107, 142);
    }
   }
/*-----Seccion de Contenido-----*/
   #Contenedor{
      display: flex;
      height: auto;
  }
 /*-----Sección de Indices-----*/ 
  #Indice{
  padding: 50px;
  height: auto;
  border-right: 1px solid black;
  background-color: rgb(46, 147, 194);
  color: white;
  font-size: large;
  }

  #Indice ul{
   list-style-type:decimal;
  }

  #Indice li{
   margin-top: 20px;
  }
  
  h1{
   text-align: center;
  }

  #Contenido_texto{
   background-color: #ffffff;
   height: auto;
   text-align: justify;
   width: 100%;
  }
  

  #Contenido_texto img{
   width: 25%;
   text-align: center;
   }

  #buscar{
   background-color:rgb(1, 132, 169) ;
   border: none;
   width: 10px;
}